/*!
 * BlizzCMS
 *
 * An Open Source CMS for "World of Warcraft"
 *
 * This content is released under the MIT License (MIT)
 *
 * Copyright (c) 2017 - 2019, WoW-CMS
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 *
 * @author  WoW-CMS
 * @copyright  Copyright (c) 2017 - 2019, WoW-CMS.
 * @license https://opensource.org/licenses/MIT MIT License
 * @link    https://wow-cms.com
 * @since   Version 1.0.1
 * @filesource
 */

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lobster-regular-webfont.woff2') format('woff2'), url('../fonts/lobster-regular-webfont.woff') format('woff');
  font-display: swap;
}

html {
  background: transparent;
  color: #6a7a8c;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
  background-color: #f0f2f7;
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #01102d;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.eli-color {
	color: white;
}

.eli-color-black {
	color: black;
}

/* ADMINS THEME START */

.forum-table .uk-table tbody tr {
    background: rgb(240, 242, 247);
    border: 1px solid rgba(19, 80, 130, 0.10);
}

.uk-table tbody tr {
    transition: background-color 1s linear;
}

.uk-dotnav>.uk-active>* {
    background-color: rgb(255 255 255);
    border-color: #ffffff00;
}

.uk-dotnav>*>:focus, .uk-dotnav>*>:hover {
    background-color: rgb(255 255 255 / 60%);
    outline: 0;
    border-color: transparent;
}

.uk-dotnav>*>* {
    display: block;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: 0 0;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid rgb(255 255 255 / 60%);
    transition: .2s ease-in-out;
    transition-property: background-color,border-color;
}

.dotted-divider:after {
  content: "";
  display: inline-block;
  border-top: 2px dotted rgba(0, 174, 255, .8);
  width: 200px;
  max-width: 100%;
  padding-bottom: 10px;
}

.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a.uk-open,
.uk-navbar-nav > li > a:focus {
  background-color: #fff;
  border-bottom-color: #000000;
  color: #000000;
}

.uk-navbar-item:hover {
  color: #666;
}

.uk-navbar-nav > li > a {
  background: transparent;
  border-bottom: 0;
  color: #007eff;
  margin: 0;
  text-transform: none;
  transition: all ease-in .2s;
}

.uk-subnav>*>:first-child {
  display: block;
  color: #000;
  font-size: .875rem;
  text-transform: uppercase;
  transition: .1s ease-in-out;
  transition-property: color,background-color;
}

.vp-icon {
  display: inline-block;
  position: relative;
  background-image: url(../../../../../assets/images/VP.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  margin: 0 3px;
  vertical-align: middle;
}

.dp-icon {
  display: inline-block;
  position: relative;
  background-image: url(../../../../../assets/images/DP.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  margin: 0 3px;
  vertical-align: middle;
}

.blizzcms-item-container {
  background: rgba(0, 0, 0, .15);
  cursor: default;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .4), 0 0 0 1px rgba(255, 255, 255, .1);
  padding: 5px;
}

.blizzcms-item-header {
  cursor: pointer;
}

.uk-text-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.blizzcms-item-body {
  margin-top: 10px;
}

.item-store-icon {
  position: relative;
  display: inline-block;
  border: 3px solid #0e86ca;
  border-radius: 3px;
  box-shadow: inset 0 0 0 -1px rgba(255, 255, 255, .08);
  height: 46px;
  width: 46px;
}

.uk-hr, hr {
  overflow: visible;
  text-align: inherit;
  margin: 0 0 20px 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
}

.uk-button-default {
  background: #0e86ca;
  border: 1px solid #00aeff;
  color: #fff;
  transition: all ease .3s;
}

.uk-button-default:focus, .uk-button-default:hover {
  background: #00aeff;
  color: #fff;
  border-color: #00aeff;
}

.uk-button-default.uk-active, .uk-button-default:active {
  background: #00aeff;
  color: #fff;
  border-color: #00aeff;
}

.forum-who-icon {
  display: inline-block;
  position: relative;
  background-color: #565656;
  border: 1px solid rgba(255, 255, 255, .05);
  border-radius: 50%;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .05), inset 0 2px 20px #001933;
  color: #fff;
  line-height: 48px;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  text-align: center;
  vertical-align: middle;
}

.forum-who-text {
  display: inline-block;
  color: #000;
  vertical-align: middle;
}

.uk-table-middle, .uk-table-middle td {
  vertical-align: middle!important;
}

.forum-icon {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.eli-container {
background: #fff;
color: #666;
box-shadow: 0 5px 15px rgba(0,0,0,.08);
border-radius: 4px;
box-shadow: 0 2px 15px -10px rgba(0, 0, 0, .4);
}

.uk-card-donate {
  background: linear-gradient(to right bottom, #00aeff, #1959b0);
  border-radius: 2px;
  color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .15);
}

.card-status {
    border: 1px solid transparent;
    box-shadow: 0 15px 10px -15px rgba(0, 0, 0, .6), inset 0 0 5px rgba(0, 0, 0, .4);
    border-image: linear-gradient(to left, rgba(255, 9, 9, .8) 0%, rgba(0, 174, 255, .8) 100%);
    border-image-slice: 1;
    border-image-width: 1px;
    padding: 15px 20px;
    background: rgba(9, 85, 135, .05);
    color: #ccc;
}

.uk-nav-default > li.uk-active > a {
  background-color: rgba(0, 119, 239, 0.1);
  border-left-color: #0077ef;
  color: #000;
}

.uk-nav-default.nav-store .uk-nav-sub a {
  border-top: 1px solid rgba(197, 190, 190, 0.21);
  color: #090e40;
  padding: 10px 40px;
  word-break: break-all;
}

.uk-card-default .uk-card-header {
  background-color: #090e40;
  border-radius: 4px 4px 0 0;
  color: #fff;
}

.uk-nav-default.myaccount-nav {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 15px -10px rgba(0, 0, 0, .4), inset 0 1px 10px rgba(0, 0, 0, .15);
}

.uk-countdown-number {
  font-size: 1rem;
}

.uk-countdown-separator {
  font-size: 1rem;
}

.uk-countdown-number, .uk-countdown-separator {
  line-height: 40px;
}



.uk-card-default {
  background: #fff;
  color: #666;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.uk-nav-default.myaccount-nav .uk-nav-divider {
  border-top: 1px solid rgba(255, 255, 255, .1);
  margin: 5px 20px;
}

.uk-card-primary.uk-card-body .uk-checkbox, .uk-card-primary.uk-card-body .uk-radio, .uk-card-primary>:not([class*=uk-card-media]) .uk-checkbox, .uk-card-primary>:not([class*=uk-card-media]) .uk-radio, .uk-card-secondary.uk-card-body .uk-checkbox, .uk-card-secondary.uk-card-body .uk-radio, .uk-card-secondary>:not([class*=uk-card-media]) .uk-checkbox, .uk-card-secondary>:not([class*=uk-card-media]) .uk-radio, .uk-light .uk-checkbox, .uk-light .uk-radio, .uk-offcanvas-bar .uk-checkbox, .uk-offcanvas-bar .uk-radio, .uk-overlay-primary .uk-checkbox, .uk-overlay-primary .uk-radio, .uk-section-primary:not(.uk-preserve-color) .uk-checkbox, .uk-section-primary:not(.uk-preserve-color) .uk-radio, .uk-section-secondary:not(.uk-preserve-color) .uk-checkbox, .uk-section-secondary:not(.uk-preserve-color) .uk-radio, .uk-tile-primary:not(.uk-preserve-color) .uk-checkbox, .uk-tile-primary:not(.uk-preserve-color) .uk-radio, .uk-tile-secondary:not(.uk-preserve-color) .uk-checkbox, .uk-tile-secondary:not(.uk-preserve-color) .uk-radio {
  background-color: rgba(14, 134, 202, 0.37);
  border-color: rgb(14, 134, 202);
}

.uk-card-primary.uk-card-body .uk-checkbox:checked, .uk-card-primary.uk-card-body .uk-checkbox:indeterminate, .uk-card-primary.uk-card-body .uk-radio:checked, .uk-card-primary>:not([class*=uk-card-media]) .uk-checkbox:checked, .uk-card-primary>:not([class*=uk-card-media]) .uk-checkbox:indeterminate, .uk-card-primary>:not([class*=uk-card-media]) .uk-radio:checked, .uk-card-secondary.uk-card-body .uk-checkbox:checked, .uk-card-secondary.uk-card-body .uk-checkbox:indeterminate, .uk-card-secondary.uk-card-body .uk-radio:checked, .uk-card-secondary>:not([class*=uk-card-media]) .uk-checkbox:checked, .uk-card-secondary>:not([class*=uk-card-media]) .uk-checkbox:indeterminate, .uk-card-secondary>:not([class*=uk-card-media]) .uk-radio:checked, .uk-light .uk-checkbox:checked, .uk-light .uk-checkbox:indeterminate, .uk-light .uk-radio:checked, .uk-offcanvas-bar .uk-checkbox:checked, .uk-offcanvas-bar .uk-checkbox:indeterminate, .uk-offcanvas-bar .uk-radio:checked, .uk-overlay-primary .uk-checkbox:checked, .uk-overlay-primary .uk-checkbox:indeterminate, .uk-overlay-primary .uk-radio:checked, .uk-section-primary:not(.uk-preserve-color) .uk-checkbox:checked, .uk-section-primary:not(.uk-preserve-color) .uk-checkbox:indeterminate, .uk-section-primary:not(.uk-preserve-color) .uk-radio:checked, .uk-section-secondary:not(.uk-preserve-color) .uk-checkbox:checked, .uk-section-secondary:not(.uk-preserve-color) .uk-checkbox:indeterminate, .uk-section-secondary:not(.uk-preserve-color) .uk-radio:checked, .uk-tile-primary:not(.uk-preserve-color) .uk-checkbox:checked, .uk-tile-primary:not(.uk-preserve-color) .uk-checkbox:indeterminate, .uk-tile-primary:not(.uk-preserve-color) .uk-radio:checked, .uk-tile-secondary:not(.uk-preserve-color) .uk-checkbox:checked, .uk-tile-secondary:not(.uk-preserve-color) .uk-checkbox:indeterminate, .uk-tile-secondary:not(.uk-preserve-color) .uk-radio:checked {
  background-color: #ffffffb5;
  border-color: rgb(0, 0, 0);
}

.uk-card-primary.uk-card-body .uk-form-label, .uk-card-primary>:not([class*=uk-card-media]) .uk-form-label, .uk-card-secondary.uk-card-body .uk-form-label, .uk-card-secondary>:not([class*=uk-card-media]) .uk-form-label, .uk-light .uk-form-label, .uk-offcanvas-bar .uk-form-label, .uk-overlay-primary .uk-form-label, .uk-section-primary:not(.uk-preserve-color) .uk-form-label, .uk-section-secondary:not(.uk-preserve-color) .uk-form-label, .uk-tile-primary:not(.uk-preserve-color) .uk-form-label, .uk-tile-secondary:not(.uk-preserve-color) .uk-form-label {
  color: #000;
}

.uk-card-primary.uk-card-body .uk-input, .uk-card-primary.uk-card-body .uk-select, .uk-card-primary.uk-card-body .uk-textarea, .uk-card-primary>:not([class*=uk-card-media]) .uk-input, .uk-card-primary>:not([class*=uk-card-media]) .uk-select, .uk-card-primary>:not([class*=uk-card-media]) .uk-textarea, .uk-card-secondary.uk-card-body .uk-input, .uk-card-secondary.uk-card-body .uk-select, .uk-card-secondary.uk-card-body .uk-textarea, .uk-card-secondary>:not([class*=uk-card-media]) .uk-input, .uk-card-secondary>:not([class*=uk-card-media]) .uk-select, .uk-card-secondary>:not([class*=uk-card-media]) .uk-textarea, .uk-light .uk-input, .uk-light .uk-select, .uk-light .uk-textarea, .uk-offcanvas-bar .uk-input, .uk-offcanvas-bar .uk-select, .uk-offcanvas-bar .uk-textarea, .uk-overlay-primary .uk-input, .uk-overlay-primary .uk-select, .uk-overlay-primary .uk-textarea, .uk-section-primary:not(.uk-preserve-color) .uk-input, .uk-section-primary:not(.uk-preserve-color) .uk-select, .uk-section-primary:not(.uk-preserve-color) .uk-textarea, .uk-section-secondary:not(.uk-preserve-color) .uk-input, .uk-section-secondary:not(.uk-preserve-color) .uk-select, .uk-section-secondary:not(.uk-preserve-color) .uk-textarea, .uk-tile-primary:not(.uk-preserve-color) .uk-input, .uk-tile-primary:not(.uk-preserve-color) .uk-select, .uk-tile-primary:not(.uk-preserve-color) .uk-textarea, .uk-tile-secondary:not(.uk-preserve-color) .uk-input, .uk-tile-secondary:not(.uk-preserve-color) .uk-select, .uk-tile-secondary:not(.uk-preserve-color) .uk-textarea {
  background-color: rgb(255, 255, 255);
  color: rgb(14, 134, 202);
  background-clip: padding-box;
  border-color: rgb(0, 0, 0);
}

.uk-card-primary.uk-card-body .uk-form-icon, .uk-card-primary>:not([class*=uk-card-media]) .uk-form-icon, .uk-card-secondary.uk-card-body .uk-form-icon, .uk-card-secondary>:not([class*=uk-card-media]) .uk-form-icon, .uk-light .uk-form-icon, .uk-offcanvas-bar .uk-form-icon, .uk-overlay-primary .uk-form-icon, .uk-section-primary:not(.uk-preserve-color) .uk-form-icon, .uk-section-secondary:not(.uk-preserve-color) .uk-form-icon, .uk-tile-primary:not(.uk-preserve-color) .uk-form-icon, .uk-tile-secondary:not(.uk-preserve-color) .uk-form-icon {
  color: rgb(0, 0, 0);
}

.uk-card-primary.uk-card-body .uk-input:focus, .uk-card-primary.uk-card-body .uk-select:focus, .uk-card-primary.uk-card-body .uk-textarea:focus, .uk-card-primary>:not([class*=uk-card-media]) .uk-input:focus, .uk-card-primary>:not([class*=uk-card-media]) .uk-select:focus, .uk-card-primary>:not([class*=uk-card-media]) .uk-textarea:focus, .uk-card-secondary.uk-card-body .uk-input:focus, .uk-card-secondary.uk-card-body .uk-select:focus, .uk-card-secondary.uk-card-body .uk-textarea:focus, .uk-card-secondary>:not([class*=uk-card-media]) .uk-input:focus, .uk-card-secondary>:not([class*=uk-card-media]) .uk-select:focus, .uk-card-secondary>:not([class*=uk-card-media]) .uk-textarea:focus, .uk-light .uk-input:focus, .uk-light .uk-select:focus, .uk-light .uk-textarea:focus, .uk-offcanvas-bar .uk-input:focus, .uk-offcanvas-bar .uk-select:focus, .uk-offcanvas-bar .uk-textarea:focus, .uk-overlay-primary .uk-input:focus, .uk-overlay-primary .uk-select:focus, .uk-overlay-primary .uk-textarea:focus, .uk-section-primary:not(.uk-preserve-color) .uk-input:focus, .uk-section-primary:not(.uk-preserve-color) .uk-select:focus, .uk-section-primary:not(.uk-preserve-color) .uk-textarea:focus, .uk-section-secondary:not(.uk-preserve-color) .uk-input:focus, .uk-section-secondary:not(.uk-preserve-color) .uk-select:focus, .uk-section-secondary:not(.uk-preserve-color) .uk-textarea:focus, .uk-tile-primary:not(.uk-preserve-color) .uk-input:focus, .uk-tile-primary:not(.uk-preserve-color) .uk-select:focus, .uk-tile-primary:not(.uk-preserve-color) .uk-textarea:focus, .uk-tile-secondary:not(.uk-preserve-color) .uk-input:focus, .uk-tile-secondary:not(.uk-preserve-color) .uk-select:focus, .uk-tile-secondary:not(.uk-preserve-color) .uk-textarea:focus {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.94);
  border-color: rgb(0, 174, 255);
}

.uk-placeholder {
  margin-bottom: 20px;
  padding: 30px 30px;
  background: transparent;
  border: 1px dashed #000;
}


.author-rank-staff {
  background-color: #00aeff;
  border-bottom: 3px solid #008acb;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 5px auto 0 auto;
  min-width: 100px;
  max-width: 130px;
  padding: 3px;
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
}

.Author {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.topic-author-avatar {
  background-image: url('../../../includes/images/profiles/default.png');
  background-size: cover;
  border: 3px solid rgba(255, 255, 255, .2);
  height: 70px;
  width: 70px;
  position: relative;
}

.topic-author-staff .topic-author-avatar {
  border: 3px solid #00aeff;
}

.topic-author-avatar img {
  height: 70px;
  width: 70px;
}

.topic-author-avatar:after {
  display: block;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.topic-author-avatar:hover:after {
  background-color: rgba(255, 255, 255, .05);
}

.topic-author-avatar.topic-author-avatar--default:after {
  display: none;
}

.topic-author-avatar.noprofile img {
  image-rendering: auto;
}

.topic-author-avatar.profile img {
  image-rendering: auto;
}

.button-facebook:focus,
.button-facebook:hover {
	background: #3b5998;
    color: #fff;
}

.button-twitter:focus,
.button-twitter:hover {
	background: #00acee;
    color: #fff;
}

.button-youtube:focus,
.button-youtube:hover {
	background: #c4302b;
    color: #fff;
}


/* ADMINS THEME END */


.uk-container {
  max-width: 1150px;
}

.uk-navbar-transparent {
  background-image: url('../images/bg-main.png');
  background-color: #090e40;
  background-repeat: no-repeat;
  background-position: center top;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #fff;
  box-shadow: 1px 0 20px rgba(0, 0, 0, .06);
}

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  min-height: 60px;
}

.uk-navbar-toggle {
  color: #090e40;
}

.uk-navbar-toggle.uk-open,
.uk-navbar-toggle:focus,
.uk-navbar-toggle:hover {
  background-color: #f0f2f7;
  color: #0077ef;
}

.uk-logo {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  color: #fff;
  padding: 0 15px 0 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
}

.uk-logo:focus,
.uk-logo:hover,
.uk-offcanvas-bar .uk-logo:focus,
.uk-offcanvas-bar .uk-logo:hover {
  color: #fff;
}

.rev-label {
  display: inline-block;
  padding: 0 10px;
  background: #fff;
  line-height: 1.5;
  font-size: .75rem;
  font-weight: 700;
  color: #090e40;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
  text-transform: uppercase;
}

header .uk-navbar-nav > li > a {
  background: transparent;
  border-bottom: 0;
  color: #fff;
  margin: 0;
  text-transform: none;
  transition: all ease-in .2s;
}

.uk-navbar-nav {
  background: transparent;
  border-bottom: 3px solid transparent;
  color: #777;
  margin: 0 5px;
  text-transform: none;
  transition: all ease-in .2s;
}

.uk-navbar-nav > li > a:active {
  border-bottom-color: #0077ef;
  color: #0077ef;
}

.uk-navbar-nav > li.uk-active > a {
  border-bottom-color: #0077ef;
  color: #0077ef;
}

.uk-nav-parent-icon > .uk-parent > a::after {
  content: "";
  width: 1.5em;
  height: 1.5em;
  float: right;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%2210%201%204%207%2010%2013%22%20%2F%3E%0D%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.uk-nav-parent-icon > .uk-parent.uk-open > a::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%20%2F%3E%0D%0A%3C%2Fsvg%3E");
}

[class*="uk-navbar-dropdown-bottom"] {
  margin-top: 1px;
}

.uk-navbar-dropdown {
  border-radius: 0 0 4px 4px;
  box-shadow: 1px 0 20px rgba(0, 0, 0, .06);
  width: auto;
  min-width: 180px;
  padding: 0 0 4px 0;
}

.uk-navbar-dropdown-nav > li > a {
  color: #000;
  font-size: .8125rem;
  padding: 8px 16px;
  transition: all ease-in .20s;
}

.uk-navbar-dropdown-nav > li > a:hover,
.uk-navbar-dropdown-nav > li > a:focus {
  background: #f0f2f7;
  color: #0077ef;
}

.uk-navbar-dropdown-nav > li > a:hover .admin-subnav-icon,
.uk-navbar-dropdown-nav > li > a:focus .admin-subnav-icon {
  background: #0078ff;
  color: #fff;
}

.uk-offcanvas-bar .uk-nav-default > li {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.uk-offcanvas-bar .uk-nav-default > li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.uk-offcanvas-bar .uk-nav-default > li > a {
  border-left: 5px solid transparent;
  color: #e9e9e9;
  padding: 15px 25px;
  transition: all ease-in-out .2s;
}

.uk-offcanvas-bar .uk-nav-default > li > a:focus,
.uk-offcanvas-bar .uk-nav-default > li > a:hover {
  background-color: rgba(255, 255, 255, .05);
  border-left-color: #0078ff;
  color: #fff;
}

.uk-offcanvas-bar .uk-nav-default > li.uk-active > a,
.uk-offcanvas-bar .uk-nav-default > li.uk-open > a {
  background-color: rgba(255, 255, 255, .05);
  border-left-color: #0078ff;
  color: #fff;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(255, 255, 255, .05);
}

.uk-offcanvas-bar .uk-nav-parent-icon > .uk-parent > a::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%221.1%22%20points%3D%2210%201%204%207%2010%2013%22%20%2F%3E%0D%0A%3C%2Fsvg%3E");
}

.uk-offcanvas-bar .uk-nav-parent-icon > .uk-parent.uk-open > a::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%20%2F%3E%0D%0A%3C%2Fsvg%3E");
}

.admin-subnav-icon {
  display: inline-block;
  background: transparent;
  padding: 2px;
  font-size: .875rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  margin-right: 6px;
  border-radius: 2px;
  transition: all ease-in-out .2s;
}

.uk-offcanvas-bar {
  background-color: #090e40;
  padding: 0;
}

.uk-offcanvas-bar .uk-logo {
  color: #fff;
}

ul.uk-nav-sub {
  background: rgba(0, 0, 0, .03);
  padding: 0;
}

.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a {
  color: #e9e9e9;
  padding: 10px 15px;
  transition: all ease-in-out .2s;
}

.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a:focus,
.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a:hover {
  background-color: rgba(255, 255, 255, .05);
  padding: 10px 25px;
  color: #fff;
}

.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a:focus .admin-subnav-icon,
.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a:hover .admin-subnav-icon,
.uk-offcanvas-bar .uk-nav-default .uk-nav-sub li.uk-active > a .admin-subnav-icon {
  background: #0078ff;
}

.uk-offcanvas-bar .uk-nav-default .uk-nav-sub li.uk-active > a {
  background-color: rgba(255, 255, 255, .05);
  color: #fff;
}

.profile-img {
  width: 36px;
  height: 36px;
  margin-right: 5px;
}

.uk-card-default {
  border-radius: 4px;
  box-shadow: 0 2px 15px -10px rgba(0, 0, 0, .4);
  color: #565656;
}

.uk-card-secondary {
  background-color: #090e40;
  border-radius: 4px;
  box-shadow: 0 2px 15px -10px rgba(0, 0, 0, .4), inset 0 1px 10px rgba(0, 0, 0, .15);
}

.uk-card-update {
  background-color: #090e40;
  background-image: url('../images/bg-main.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 2px 15px -10px rgba(0, 0, 0, .4), inset 0 1px 10px rgba(0, 0, 0, .15);
  color: #f0f0f0;
}

.uk-card-header {
  padding: 10px 20px;
}

.uk-card-body {
  padding: 15px;
}

.uk-card-footer {
  padding: 20px;
}

.uk-card-default .uk-card-header {
  background-color: #090e40;
  border-radius: 4px 4px 0 0;
  color: #fff;
}

.uk-card-default .uk-card-header .uk-h3,
.uk-card-default .uk-card-header .uk-h4,
.uk-card-default .uk-card-header .uk-h5 {
  color: #fff;
}

.uk-card-default .uk-icon-button {
  background: rgba(255, 255, 255, .15);
  border: 1px solid rgba(255, 255, 255, .2);
  width: 32px;
  height: 32px;
  color: #fff;
  transition: all ease-in .15s;
}

.uk-card-default .uk-icon-button:focus,
.uk-card-default .uk-icon-button:hover {
  background-color: #0078ff;
  color: #fff;
}

.uk-card-default .uk-active > .uk-icon-button,
.uk-card-default .uk-icon-button:active {
  background-color: #0078ff;
  color: #fff;
}

.uk-card-default.uk-card-body {
  padding: 20px;
}

.uk-card-default .uk-h6 {
  font-size: 0.75rem;
}

.uk-card-secondary.character-list .uk-card-body {
  padding: 0;
}

.uk-card-secondary > :not([class*="uk-card-media"]) {
  color: #efefef;
}

.uk-card-secondary .uk-hr {
  border-top-style: dashed;
}

.uk-card-secondary.uk-card-body .uk-grid-divider > :not(.uk-first-column)::before {
  margin-right: 10px;
  border-left-color: rgba(255, 255, 255, .1);
}

.uk-card-secondary.uk-card-body .uk-grid-divider.uk-grid-stack > .uk-grid-margin::before {
  border-top-color: rgba(255, 255, 255, .1);
}

.uk-card-update .uk-h3 {
  color: #fff;
}

.uk-navbar-item .uk-icon-button {
  background: #0077ef;
  border: 2px solid rgba(255, 255, 255, .4);
  color: #fff;
  width: 35px;
  height: 35px;
  transition: all ease-in .15s;
}

.uk-navbar-item .uk-icon-button:focus,
.uk-navbar-item .uk-icon-button:hover {
  background: #006ad6;
  border-color: rgba(255, 255, 255, .2);
  color: #fff;
}

.uk-modal-dialog .uk-close {
  color: #fff;
}

.uk-modal-header {
  background: #161523;
  border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.uk-modal-title {
  color: #fff;
  font-size: 1.7rem;
}

.uk-alert {
  border-radius: 4px;
  padding: 8px 16px;
}

.uk-heading-line > ::after, .uk-heading-line > ::before {
  top: calc(60% - (1px / 2));
  border-bottom-color: rgba(0, 0, 0, .075);
}

.uk-heading-bullet::before {
  border-left-color: #0077ef;
}

.uk-margin-xsmall-top {
  margin-top: 5px !important;
}

.uk-input,
.uk-select,
.uk-textarea {
  border-radius: 2px;
}

.uk-button {
  border-radius: 2px;
  font-weight: 700;
  line-height: 34px;
  padding: 2px 12px;
}

.uk-button-small {
  line-height: 30px;
  padding: 0 10px;
}

.uk-button-primary {
  background: #0077ef;
  border: 1px solid rgba(255, 255, 255, .1);
  transition: all ease-in .15s;
}

.uk-button-primary:focus,
.uk-button-primary:hover {
  background: #006ad6;
}

.uk-button-primary.uk-active,
.uk-button-primary:active {
  background: #006ad6;
}

.uk-button-danger {
  background: #ff2e2e;
  border: 1px solid rgba(255, 255, 255, .1);
  transition: all ease-in .15s;
}

.uk-button-danger:focus,
.uk-button-danger:hover {
  background: #ff1515;
}

.uk-button-danger.uk-active,
.uk-button-danger:active {
  background: #ff1515;
}

.uk-icon-button {
  background: #090e40;
  color: #fff;
  transition: all ease-in .15s;
}

.uk-text-primary {
  color: #0077ef !important;
}

.uk-text-success {
  color: #32d239 !important;
}

.uk-text-warning {
  color: #ff8a2e !important;
}

.uk-text-danger {
  color: #ff2e2e !important;
}

.uk-table th {
  background: #090e40;
  color: #fff;
}

.uk-table th:first-child {
  border-radius: 4px 0 0 0;
}

.uk-table th:last-child {
  border-radius: 0 4px 0 0;
}

.uk-table-hover tbody tr:hover,
.uk-table-hover > tr:hover {
  background: rgba(223, 232, 240, .2);
}

.uk-table tbody tr.uk-active,
.uk-table > tr.uk-active {
  background: rgba(223, 232, 240, .2);
}

.uk-pagination > * {
  padding-left: 8px;
}

.uk-pagination > * > * {
  display: flex;
  background: #090e40;
  border-radius: 50%;
  color: #fff;
  font-size: .9375rem;
  font-weight: 700;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out .15s;
}

.uk-pagination > * > :focus,
.uk-pagination > * > :hover {
  color: #fff;
  background-color: #006ad6;
}

.uk-pagination > .uk-active > * {
  color: #fff;
  background-color: #006ad6;
}

.uk-nav-default {
  font-size: 0.875rem;
}

.uk-nav-default > li > a {
  border-left: 4px solid transparent;
  color: #090e40;
  padding: 10px 25px;
  transition: all ease-in-out .2s;
}

.uk-nav-default > li:first-child > a {
  border-radius: 4px 4px 0 0;
}

.uk-nav-default > li:last-child > a {
  border-radius: 0 0 4px 4px;
}

.uk-nav-default > li > a:hover, .uk-nav-default > li > a:focus {
  background-color: rgb(9, 14, 64);
  border-left-color: #0077ef;
  color: #fff;
}

.uk-nav, .uk-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.uk-nav-default {
  font-size: .875rem;
}

.uk-nav-default .uk-nav-sub a {
  color: #090e40;
}



.uk-nav-default > li.uk-active > a {
  background-color: rgb(9, 14, 64);
  border-left-color: #0077ef;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 640px) {
  table .uk-width-medium .uk-input {
    min-width: 200px;
  }
  table .uk-width-small .uk-input {
    min-width: 100px;
  }
}
